[user]
	name = Felipe Bedana
	email = felipe.bedana@hotmail.com
[alias]
	st = status
	co = checkout
	ci = commit
	last = cat-file commit HEAD
	colete = blame
[credential]
	helper = cache
[core]
	excludesfile = /home/felipe/.gitignore
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
